.homepage {
    font-family: sans-serif;
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 100px; /* Adjust size as needed */
    height: 50px;
    margin-right: 40px;
  }
  
  .logo-text {
    font-size: 0.8em;
  }
  
  .nav {
    position: relative;
    margin-right: -400px;
  }
  .nav a {
    margin-left: 40px;
    text-decoration: none;
    color: #333;
  
  }
  
  .sign-in-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .hero {
    background-image: url('./images/muktinath-temple.jpg');
    background-repeat: no-repeat;
    background-position: center;
    height: 690px; /* Adjust height as needed */
    width: 1490px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-align: center;
  }
  
  
  .hero h1 {
    font-size: 3em;
    margin-bottom: 20px;
  }
  
  .tours {
    padding: 40px;
    text-align: center;
  }
  
  .tours h2 {
    font-size: 2em;
    margin-bottom: 30px;
  }
  
  .footer {
    background-color: #c38282;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
  }
  
  .footer nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
  }
  
  .footer nav a:hover {
    text-decoration: underline;
  }
  