/* General Styling */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-box {
  width: 320px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  background-color: #fff;
  text-align: center;
}

.logo {
  width: 150px;
  margin-bottom: 10px;
}

h2 {
  margin-bottom: 10px;
}

.input-group {
  margin-bottom: 12px;
}

input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.input-hint {
  font-size: 12px;
  color: gray;
  margin-top: 4px;
  display: block;
}

.primary-btn {
  width: 100%;
  background-color: #000;
  color: #fff;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.primary-btn:hover {
  background-color: #333;
}

.google-btn {
  width: 100%;
  background-color: #f1f1f1;
  color: #000;
  padding: 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-btn img {
  width: 20px;
  margin-right: 8px;
}

.divider {
  margin: 16px 0;
  display: flex;
  align-items: center;
}

.divider span {
  padding: 0 10px;
}

.forgot-password {
  color: #888;
  font-size: 14px;
  text-align: right;
  margin-bottom: 12px;
  cursor: pointer;
}
.forgot-password:hover{
  text-decoration: underline;
  color: darkblue;
}
.terms, .recaptcha {
  font-size: 12px;
  color: gray;
}

span {
  color: red;
  cursor: pointer;
}
